<%= flash_messages %>
<h2>Documents List</h2>
<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th class="col-md-2">Submitted by</th>
      <th class="col-md-2">Type</th>
      <th class="col-md-2">Title</th>
      <th class="col-md-2">Attachment</th>
      <th class="col-md-2">Description</th>
      <th class="col-md-2">Serial Number</th>
      <th class="col-md-2">Form</th>
    
      <th class="col-md-2">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td class="col-md-2"><%= document.user.try(:iduser)%></td>
          <td class="col-md-2"><%= document.doctype%></td>
          <td class="col-md-2"><%= document.title%></td>
          <td class="col-md-2"><%= document.attachment%></td>
          <td class="col-md-2"><%= document.desc%></td>
          <td class="col-md-2"><%= document.serialno%></td>
          <td class="col-md-2"><%= document.form.try(:formname)%></td>
          <td class="col-md-2">
            <%= link_to 'Show', document_path(document), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_document_path(document), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', document_path(document), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Document', new_document_path, class: "btn btn-primary" %>

