<p id="notice"><%= notice %></p>

<h1>Assigns</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Document</th>
      <th>Duedate</th>
      <th>Staff handle</th>
      <th>Day Left</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigns.each do |assign| %>
      <tr>
        <td><%= assign.user.try(:username) %></td>
        <td><%= assign.app.document.try(:serialno) %></td>
        <td><%= assign.duedate %></td>
        <td><%= current_user.try(:username) %></td>
        <td><%= (assign.duedate - Date.today).to_i %></td>
       
        <td><%= link_to 'Show', assign %></td>
        <td><%= link_to 'Edit', edit_assign_path(assign) %></td>
        <td><%= link_to 'Destroy', assign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assign', new_assign_path %>
