<%= flash_messages %>
<h2>Documents status</h2>


<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th class="col-md-2">Start Date</th>
      <th class="col-md-2">End Date</th>
      <th class="col-md-2">Title</th>
      <th class="col-md-2">Location</th>
      <th class="col-md-2">User ID</th>
      <th class="col-md-2">Serial Number</th>
      <th class="col-md-2">Options</th>
      </tr>
    </thead>
    <tbody>
      <% @apps.each do |app| %>
        <tr>
          <td class="col-md-2"><%= app.startdate%></td>
          <td class="col-md-2"><%= app.enddate%></td>
          <td class="col-md-2"><%= app.location %></td>
          <td class="col-md-2"><%= app.status%></td>
          <td class="col-md-2"><%= app.user.try(:iduser)%></td>
          <td class="col-md-2"><%= app.document_id%></td>
          <td class="col-md-2">
            <%= link_to 'Show', app_path(app), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_app_path(app), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', app_path(app), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New App', new_app_path, class: "btn btn-primary" %>
