<%= flash_messages %>

<h1>Forms List</h1>
<div class="product-block">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-2">Form</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td class="col-md-2"><%= form.formname %></td>
         <td class="col-md-5">
            <%= link_to 'Show', form_path(form), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_form_path(form), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', form_path(form), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
      </tr>
    <% end %>

    <% @users.each do |u| %>
      <tr>
        <td class="col-md-2"><%= u.username %></td>
         <td class="col-md-5">

           
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Form', new_form_path %>

  